/* Reset */
body {    
    height: auto!important;         
    font-size: 14px!important;
    line-height: 24px!important;
}
#WB_webchat {
    display: none !important;
}

.icon_setskin {
    display: none !important;
}

div[i-am-music-player] {
    display: none !important
}

/* Post Styles */
.speechless-list{
    padding:20px;
    color: #000!important;   
    background: #fff !important;
}
.speechless-post {
    font-size:14px;
    line-height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.speechless-post .text img,
.speechless-post .retweet img {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: -3px;
    margin: 0 2px;
}

.speechless-post .meta {
    width: 140px;
    float: left;
    color: #666;
}

.speechless-post .region {}

.speechless-post .main {
    overflow: hidden;
}

.speechless-post .retweet {
    background: #f1f1f1;
    padding: 8px;
    margin-top: 5px;
}

.speechless-post .media {
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.speechless-post .media img {
    width: 150px;
    object-fit: cover;
    height: 150px;
}

/* Panel style */
.speechless {
    color:rgb(15,23,42);
    position: fixed;
    width: 300px;
    padding: 15px;
    background: #fff;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(51, 65, 85, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 20px 25px -5px, rgba(0, 0, 0, 0.05) 0px 8px 10px -6px;
    border-radius: 6px;
    top: 70px;
    right: 25px;
    z-index: 100001;
    overflow: hidden;    
    background-image:url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAgEASABIAAD/2wBDAAEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/2wBDAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQH/wAARCABTASwDAREAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD+/cjNADCvXPT9R+Pdf5fmKpP+u/8Awf67MRA8ee3fj/IPB/T8jWil/X9f8OK39fl/kUpIfXk+n6+3p757ZreM/X+v67E27GZNbDnj17e3p9Rx9K6YVP6uL+nr/X5+hkT2nXgd85AJ69Dxgjj+X1rrhV89/wCvUL/1/VzFuLTrgevXkdMccfp7d66oVP8AhvkXGRjT2p549ewyAR6Y9f5DOa3Ul/WxvCpYzJIMHgenr/8AXz+PSq0f+Z2063mVthB+n1wcfQfUdPeplH+l+p206+233lmF8HHPX0x0yP8APtjvWE4f1/X9b9DpVS6Ne3nx16Z756HtyB09yM/iK5J09Qk7r89v6/rY24ZQw5PbHbP+en1z05zXO01+hyVYXvp8y3hcfXsM5A49fb/PWrhNr+v62PNqQtfTYrS26vnAGMd8/lz0+uO/fFdlOta2v+ZySj0a+8wb3Tw4YbcnHp/n8/zHWvUoYpq2v9en6HmYnCQqp3Sd/vOVuLFomLKCMHP+GePr+vTpXs0sQppJnyGPytxblBf12/rqbei6rLayKjscZA5Pbj65x25NcOOwkKsXKK+45sHiKmFmoyb5b/ges6dfx3UQyeSBzn8u/wD9fvnmvjsTh5UZPTQ+3weLjWitVexfkhDDPBH9OwP49+30HPPGTXdf10PQ0exlz2w5wBkfXOPbt6/TnpXVTqv+v60Ja/r+v67oxLizzngHrnAH6egA/wAk13U63mZuPz/rT5sw7izxk4H888fjj/PNd9OttqZyj/X/AAP6RkS2u09MHn6f/W/P9K7YVrmbj/w3/BKfkFT90e/Hoew9eMf/AF81spp/1sTb1/T+v6sSICCBg+3H58/Tnn096mTXf7hrT+tDWgfGDk9ce/v7+341yVFfsUv0/r5m3bzH1P8A+vrjg4z2HXkCuCpDf+v67GkX/l/kbsE3v069ec9vy4OPbpmuCpD+vP8Ar/I1T8/66W/M2YZcjnr6+v8An+Y4PSuKcLdP6/r+tzRP+v6/Dy9C+j88c8cg9/f2/wAfrmueS/4Hl/X5FLT+vyLKtj/dP6H/AD/nORWTX3/mUP8Acf8A6/8A6/8A+r6IBaQBQAUAFABQAUAJ1+o/z+I/z1oAaV//AFev09Pp+WcCqT/r/P8Az/zEQsuc8cfqMeo6n8cn0zyatP8Ar+v69Bf1/X9f5FaSIHPHU9T06cHgc/5+taxm1/X/AARNfL+uhny2+R+GQcDqcH+np9K6I1P+GJ/rr+JlzWvJ+Xv+HPIH+fTtXTCp5i/rokY89p7ep6f5z/Pjpwa6o1f6/r+v1pMxp7Qg5A+pxxzwcjoM/jz9a6Y1L9UuxpGdv6ZmS257r69B7/l7ds1qnc6oVWv+AVPK2k44/lg/r+H0pNX/AK/pHXCrtr/X9ehNGSP6Y7Z/X/P0rGcEdCq93+P3GlbzHj8MjqfQc+vPJ6/pXLOH6/1/W4+ZNW/rubcMgYYJz259xjt+g464Nc7i1/X4nPNJ6+ReUKyjjsB/XvgHPXr+dEZM4akLX0IpIN3Yflz+fT0yOgGK6adVqxzSRjXViGzwO/OOR/n247dOno0cRY4q2HjUi1Y5u4sGjbIB7HI9vT+XH8q9SliFJWb/AK8+581jcuteUVrvc1dJ1GS1cK5OMgEE5x/ToMetcmMwsasW0lc5sLUqYedm2kn/AF/XQ9Osb1LmMHcM4H0OR+vP+TXymIoSpSejsfV4bERqRWupdZN3Ydfp06HP6dMn3wawUrbf1/X9dzu3KE8AI6fywfQY/wA/XPTphU8/u3Ja/r8/+D562Mie1zkYHsOo9e3p+f8AOuuFYhx/r/L+tTGmtRydoxyew79sZ/L14ruhW82Q4+X9aGZLagHOPXjtjPbHv9B+hrqjV/pmbX9ff1KhhIPAx79/y/z+orX2gmv6t+pIqkHp7/l09fXnJpN3Bf1qaMLdMY9c+2O30x/UYrmmr3+f9f13KXU2LeX7v4Hr2PUdgO/r6571xVI/15otP+vyNmCXpz+nb+vPGf1rinH+vQ0T/ry/rX7zVikz3HP5A/8A1+hGPpkkVyTj/X9f1+Ja/r+v6/BlxHx64PXvz1/T17jmsJL71sUiyrZ6/gfX/wCvWTX9dihx9R+P+fX/ACfYAWkAUAFABQAUAFACex/z7j/PH5GgBCM/4/4/5/Knf/hv8gGEe3Pv0PuP87vUNVJ/d+P9fh6CIGjB5/8Ark81opW/ryFbp/X5f16FOWHOeO59+R79Ae3rg1tGexNv6/G1v8zOlts54OMn9SPp6ZHftgnr0Qqbai/rqZM1p1+UD36e3Hrk46/iOK6oVPMDHns+Txz1OOn+I+uPw6V0xqlqVuply2pB4HP5j/DBHp+XWt1K/wCPp/Xr/kbRqf1/X9XKTRMDxz7+3f8AHpx/Sn+P9XN41Ntf6+THRgrjr3GMfQjPuB9eue1RKKdzoVS5pwSFTj0/PnHb9f1rlnD7yuZO39fr/XY14JMgfQfzx6Z/zxXNKNv66mU1f+unb9S8Bu/HHXpz0Hb8fr9BUpteX9ev3HHOA14Qw7cDJ9/b8f8APtvCo11/U53p/WxmXFmGB4z9Bj6j6+34+mOylXatqY1KcZp3V/l/X9epgT2RjO4Dj19fw+oz6dq9KniFJWZ4uJwKbbS11/q5o6ZeyWzqjE8HGCf5c+2ef04zzYqhGpFtLoc1CU6MrO9r/qeiWV0lwg6E46/0zz/h06d/m69F05Pte59BQrqaWvQtMgI6ZH+P55GeSOf8MU9fM6/MpywZB9znt0+vf/IHPA2jPXR/1/XVf8Em39f1/XdGbLbZ7dc44Gevfrx1Hr9a6oVf+G/r/hiWv6/r+trPoZM1rk9PcEDrzgY4Hv05/p1wq+ZDX9f5/wBIz3t8Z4/zgfjjPrxnqTXTGp/X9f1+ZFvu/Dr9xWMO3jAHJ/hB/Xj37Gtedf1/TJt3Q9Fx65HTsAOh4/lnj86lyT7fmPbb/g/kXYjtIHoOcZ6nkg/5xzWE9vmxrY1IXP5f5Pf09emPWuScfxLT2fp/X3mtDL064P8AI9M/5zXJOP4Frt8/8/uZoxt/nOcjsf8APfPXNc0o/wBf1/Wxaf8AX6/P/gltG/hP1U/X0/z+vXGS6r5of9f1/X/BsKc8HqKzaKFHU9vUfyNAv6sLSGFABQAUAFABQAUAJjNADSvX6fiOP16dvpnAqr/10/r1+7URCyA9vXtn8x3Pp37471af9f1/wV5gV3hB5xn1J+vrn09v1rSM/kTb+tylJACTnHp0I4P5evP9K3jU8ybf1/V/wMua1znjpn249Rj/AOuD05rohU8w/p/1r+hmTWYOTg59unvxzz+f9R0wqjT/AK/r9DKltcZBHPqOn5c9f1z6YrojUv8A5Fxk/wCv1/zKbQEZ4z2/Htx1/r061fNfRmym+4iowOeffjjA/Tqe/GKh/iaKd7f1r/w29y7ExUj369iSOv8Aj9fbpjOPkXzX/I1oZOmeo7+35EjHpx+tc0o2IlqX1CkdO/r7fT/J/DGeqf8AX5nPKO/RLXQGiB7fnyQPrj+fQdc1pGdtzF/1/Xp2KE1oCDkDP6+uR1wfrjPfmuqnWa69e5nKMZLoY01kUORkHrn/ACPT2+vFd8K11a++nr/l8zz6+GT1SVy/YXTwOqk9PfjnHQ9R/wDX4rmxFGNRNo56blSdn3/X0O3tblZVHPXrz144z9eep/QmvCrUpQbPYpVVJK71LTIDyv8An+f+I9xWKlZ2ZuU5Is/UDoeOPQ+349+CMEDaM/P/AC/4D/rUVv6/r8ShLByeMfnjGM47dfTgiuiNTz/4Hclr+v6/4b8zOltvbHXr68nv35HX04rphU/r+vzIa/r+v+G8yk9uOeP5+/8AQAjr+uTvGp/X9f8AA0E18vTbXy2/IrmHB5HQdx0+oH9R9fWtFPzJs/L8v+B+I5UC+/0z/wDW/P8A/XScrhq9NF8y3FkEe55Hrkc/1+mRWM9iv8jQibjn/ORnj0PX06Cuea/r8yunpr+jNKJ+Pce4/H+hB5JOPWuaUfx8v6/4Yv8Ar5Muoc4/Mfp9D9P/AK1c8l/wR/1/X9eZaRsjrhh/n/P4j0FZyX3f1/X9MpfgTfeGRwf5f5/lWe2gCg59iOooaGLSAKACgAoAKACgAoAMUAJj8/X/ABHf+uKdwIyvt178EHv+OMHqenfpVJ/11X9eX3C/r8SJo/oP/wBZ7/yB/AGqUv6/r8fxFb+r/IqvD9Ox6dO+eMH+eOK2jP8Ar+v1E1/X9d/vKMltnPGc8n/PX+X51vCpbqL+v6/4P3GZNbYJO3I457/n9fUfrXRGoIzZbXPRfTOB6/l1xW6qf10KTsUmtiD9M/1x7kY/qM1qpmim9f6++w1Y2BBx0ycAH+oB/wATik3f+l9xXP8A0v6/pFqLK4/DP45/wB/DPtWUluVzdDTibpn8Oc/l178cDP8AKueSJev5P0/AuqMr+P8APn9MVls395lJXFaMHt7+o/p9eAM8c1UZ263Mrf1t/X4FOW3Ddhg9MnuPfv8ArXRCr5g7Pf7v+H/pmZLabTlRgg9hz7+n9OPYV1xrXW+hzVKKeqv/AMD+vvLdncNCwUnuO+Pxx3+n4Zx1xr01ONzGF6b62/4J1ttOsgHuB6enXH+c/XmvHq03FnoU5pr+v6/r1LBQN3+nsf8AP+ccVmpWNSs8ec5Hr2/P6d/UfStIy7Ptp/X9eorFSWHrxn8emRjrnvjofXqTW0Z/1/n/AMD7ibf1/W3y0KUkA54/DuOQMY6jtz0A7VvGp/w/3E2/r+vzVmUng9vwPrwevck9K2VQTXy/r8PmiExYPO7r68frx/iKvmv1/Am3z/ryFCgHv9fb6UN+f5JfqBai9+h/oCKylr+X+bK6O/axbiboc46f4VjJafeUtl9xeRscenI9umcfQ+341hJf1/XkNP8AD8i2rdx+P+ff/wCvisWt0V1/r+v+CWVboR0PWsmuj3QyQjOCDz2NSn0YxQc+x7ihr7gFpAFABQAUAFABQAUAFABQAwjpj6Y/Xg/49e/FO/8AX9f18xDGXPH6Efy754/nwOtUn/X+f9fNh/X9f8AgaIen+c9s8Ee+ck557VopCf8AX9f8OVJIAexH+fTtn0/StYz/AK/rQlr+v68tfmUnt+OnsDjgdPfjvnGPcGt41PMP6/r+vQz5bbk8D69cen+fzreNQCm9v6Dj8RnnHb0+vp1zWin5jUvX/L+v+CMEWO2B275x3z1498Z9uad+5V7ev9f1uTxg57Dr9e34Z6Z/Me0NbL+tQvqXojnH6Z6Z/PHUfrx7YSX+QXv93/DfmvxLq/dAGT0AHPv6deME/wCRWW1yWv6/QUx57D8Of0IHT6Hr36U1L/hiLMrSQZBOP5+3qMj8epGMVtGp/X9aAUHt8HIzn3A9v8OQcjv9eiNS61M507+v9Jlm1laJgD0z7HgZ65/nx6cnrlVgpK/9f1/VzON4M6KGUOvJ+n+fQ/hz6815s4OLOqMronKZGeD/AE+v0/lnpmslIsgaP06dh+fT/P4d60Uu4v6/r+vvKzRg9unPofr3/qOOgrVS/r/P+vmK39f1+n3FV4e2M/z7Z4HXgc47mtVP+un/AABW/r/JlYwnt16fQnk8Efy/P01UybL5/d/wH+BH5ZyMgHuM5z+mcfp+lVzf1/Vws+/3oAh5HA9QMk/4/h+VFxW7smUe3p+XX9fT1qG/6/ruUtbW2RbB+Zfrj8DmsXs/l+g1v9/5lpD1B/z/APXxWUu4/wDhv6+ZYjbqP85/zz/+us5LqUTqex/D/Cs2uox5HfOCOhpeQC0gCgAoAKACgAoAKACgAoAKAEIz7j3/AM/59hTuA0j8e+D1/wDr/wA+wNO/y/L/AIH9XQiIpnpzj8x09fpznj/aqk7eX9f1t9wEDRZz/hz27enp26mtFO3/AA/qJoqvBn/Ef5yMc9MDPYVrGf8AX9eYrf8AAKjwe3vx1/T1x09gRnvqqgv6/r+uvYqtAM9Pxx1z7jA/P9e+imBH5XXkY9gc/nz/AF9vWr5u33jJFG3AH9c5yM474Hr78elQ3vft/X+QX/r5WLacZ9uh+h/xIU+wrJ6/NfiBZHIGPU/45+vbrWb6/f8AqJq717DvLz/n+mc++OtCkK3a/wA/8yB4fb9Pp/PPt65rSM/6/r/gi/rXb7/6fkVXh5zj/PH4jn8CBya2U+gOKf8AX9f1YmgdoyPr/Q/j/h+tZ1IqWpKvFm1DLuHrx/n6e31x0xjhnCz/AK/r+r+u0X/X9f1+s5UHp1rNNoogZPwP4f8A1v5/yrRS7CIGj9efp+eOeD684P161opCt/X9f15ldo89u3XnPQd+v/fQIq1K39X/AOAL+v6/4GhCYz9fXdx+GeR+HH+NqX9L/g/5it2/zX9eozZjkp+hx+mfwqubz+//AIIa+oYA6DH4H9PT/wDVR6v8Qd3/AF/w5KinIJGAOcHg5/z/AFz6VMmtkC03J0659cn9MfrjNZy2Y+hMOp/A1D2Guv8AXQsZ6Gshkw5H1qNhjSCOAwA9DVb7p/IB9SAUAFABQAUAFABQAUAFABQAUAIR/nv3/wAincBhXPv+h789vz4J9ad/l+X9fguwiMoDnv7Hr2zn8B6f8CNVf5f1/X+Qv6/r7v1IGjz/APX4OPx4PufWtFL+v61CxA0Ptz+R4/l1/L8a0U/63/r+u4rEBix7c88D/wCsT6d8YIq1P+v6/AO5GY+ewP0wR+eev51XNfp+If1/WgoXjjknuOn59MZ6k/TvSv1f3ATqAAPbofwAP8jUP9P1Dt8ycAc5APzYGaze9uiSC2iF257dMdM49+365FF/P7/6uK1uv3/8AjaLOcf57fh+G4496pSt/X9foHr/AMD/AC6+WxXaLByBz2z+fbHt+J6ZrRT8wt/X6ksRKkZ6H9ewGTj/AD3qZpP+v8gsaUbggAnt/k/19+vqa5ZRt/X9f1p2LTJPY9D0/wAD7/zqfNDGlPTn69aal3+8CFox+P5f4Y/Dt2rRSERMn4+/455I6dfTNUpL0/r+uorf1/X6kRQfTuePy5HH5n0quZit/X/Df5CbD1zj8Qf6E0+b+rB/W/8AwRQn449c/wAuBRzB8v6+8eBjr1/X6d+lTqw/qy/UcAc+57fypN/gNFgDAH0/zzWYyROn41EtxjsA9hSAWgAoAKACgAoAKACgAoAKACgAoAKAD/P+TQAhGff9D+Y/l+tO4DCue/4Hr+fQ+nfGad/6X9afgIjK8c8fXp6cdfr1GKq/z9N/6+TD+v6/r8iMx98d+uePfPr7c1Sl/X9f5Ct/X9f195GYx1/mOT+A9PrVKT/4YP6v/luNMfP3Rj3IIP8AM/Tmnzef5/5Ct/SsAT/9bEAfoST+A7UN/wBL+rAPAwABz3J9Sf6e5/8A1K+7H/X9ff8A5EoHHQfiO3+efxwai4bfmHB7Z+g/qKNV1/H/ADFb+tv1GlM9OvPH17Dv39s/rVKX/Dh+H9f10RGY8c4/TPv2+n1P1qlL+v6/4YY5CQRyfc4x34xn0z+gHpSlr/VwLQO4Y6Efz/Pv29OR2rF6O/8AX9d/+CUL8w5HI9Cef8/T9aNH/mAuVPB/I8GlqtvwAaU9D+dPmAjKeo/z+FUpdmIYYwf8g/4VXMwDy/8AOP6Zo5v6uK3kAjA/+sAKHJjHBQOnX17/AOfwpXbAeAT0qW0gJQMDFRuMMgdTRYLi0AFABQAUAFABQAUAFABQAUAFABQAUAFABQAmP/1UANKj0+uDj9On607/ANPUBNv098jH8uKd/X5a/mIZs4yFz9MH8qrm8/zAb5Yx91vyP9M0+bzQW9fwF2gY4x+GP50rt9f1AcFLcEYH+f8AOB+GKLpebCw/AHAG4/5/Af5zU6vfRB6Btz1Vf8/Tii/mw1GFMf3hx35H4kc07+j/AAC39ITb04U/Tr+A607+v9eYCqGyeCBjv6jkd8cH+uaTa/Hp+PmBKDnn16/5/T/9VT5DAgHqKVwEwR0P4H/P+FO66r7gDJ7qfw5osuj+8Ayp64z7iiz/AOGATCe35/8A16d5f0gDCe35/wD16V3/AEgF+X/Z/SjXzANwoswEyx6DA9f8/wCFPRAGwdyaOYB9SAUAFABQAUAFABQAUAFABQAUAFABQAUAFABQAnf8B/Wn0+YdRaQCYB7Ci7AMD3/M/wCNO/8AVkBGGORz1IptaXAkIB6/zNK4CgY6UgCgAoAMA9RQAm0f5zj8qd2AtIAoAKACgAoATaPQfyp3fcA2j0FF33ANo9P6/wA6LvuAuAOgpAFABQAA/9k=');
    background-position: top center;
    background-size:cover;
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 24px;
    transition: top 0.3s linear;
}

.speechless-progress {
    margin-top: 10px;
    height: 8px;
    background: #eee;
    border-radius: 2px;
    overflow: hidden;
}

.speechless-progress-bar {
    width: 0%;
    height: 8px;
    background-color: rgb(94, 186, 125)
}

.speechless-head {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    gap:5px;
}

.speechless-logo {
    width: 40px;
    height: 40px;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
}

.speechless-title {
    font-size: 24px;
    font-weight: 500;
    
}

.speechless .item-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.speechless-button{
    border-radius: 3px;
    padding:7px 16px;
    color:#fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    cursor: pointer;
    display: inline-block;
    background: rgba(94, 186, 125,1);
    /* box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px,rgba(51, 65, 85, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
}
.speechless-button:hover{
    background: rgba(94, 186, 125,0.8);
}

.speechless-main {
    padding-top: 15px;
}
.speechless-username{
    margin:0 3px;
    position: relative;
}
.speechless-username::after{
    content: " ";
    height:4px;
    width:100%;
    position: absolute;
    background: rgba(94, 186, 125,0.3);
    bottom:-1px;
    left:0;
}


/* Print */
@media print {
    .speechless-post .media {
        page-break-inside: avoid;
    }
    .speechless{
        display: none;
    }
}